[submodule "SDK/iPhone"]
	path = SDK/iPhone
	url = https://github.com/shaders/pushwoosh-ios-sdk.git
[submodule "SDK/Android"]
	path = SDK/Android
	url = https://github.com/shaders/pushwoosh-android-sdk.git
[submodule "SDK/BlackBerry"]
	path = SDK/BlackBerry
	url = https://github.com/shaders/pushwoosh-blackberry-sdk.git
[submodule "SDK/Mac"]
	path = SDK/Mac
	url = https://github.com/shaders/pushwoosh-mac-sdk.git
[submodule "SDK/WP"]
	path = SDK/WP
	url = https://github.com/shaders/pushwoosh-windows-phone-sdk.git
